In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("/home/ash/Downloads/git/DSBDA/iris.csv")

In [10]:
df[df['Species'] == 'Setosa'].describe()

       sepal.length  sepal.width  petal.length  petal.width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

In [11]:
df = pd.DataFrame({'A' : ['a', 'b', 'c', 'c', 'a', 'b'],
                   'B' : [0, 1, 1, 0, 1, 0],
                   'C' : [7, 8, 9, 5, 3, 6]})

In [12]:
df['A'] = df['A'].astype('category')

In [16]:
print(df.groupby(['A']).mean())

     B    C
A
a  0.5  5.0
b  0.5  7.0
c  0.5  7.0

/tmp/ipykernel_59813/1281112209.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(['A']).mean())